{% extends "base.html" %}
{% block content %}

    <h3>Zarządzaj produktami</h3>
    <div class="brick">
        <table class="manage-tbl">
            <colgroup>
                <col style="width: auto;">
                <col style="width: auto;">
                <col style="width: 100%;">
                <col style="width: auto;">
                <col style="width: auto;">
            </colgroup>
            <tr>
                <th>#</th>
                <th>Model</th>
                <th>Nazwa</th>
                <th></th>
                <th></th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.name }}</td>
                <td>edytuj</td>
                <td>usuń</td>
            </tr>
            {% endfor %}
        </table>

        <div class="center">
            <a href="{% url "add_product" %}" class="green-button">Dodaj nowy produkt</a>
        </div>
    </div>


    <h3>Zarządzaj kategoriami dokumentów</h3>

    <div class="brick">
        <table class="manage-tbl">
            <colgroup>
                <col style="width: auto;">
                <col style="width: 100%;">
                <col style="width: auto;">
                <col style="width: auto;">
            </colgroup>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th></th>
                <th></th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name }}</td>
                <td>edytuj</td>
                <td>usuń</td>
            </tr>
            {% endfor %}
        </table>

        <div class="center">
            <a href="{% url "add_category" %}" class="green-button">Dodaj nową kategorię dokumentów</a>
        </div>
    </div>

{% endblock %}
