<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block head %}{% endblock %}
    <title>Archowum | archiwum OWU</title>
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="navcontent">
                <div><a href="/">ARCH<strong>OWU</strong>M</a></div>
                <div class="push"><a href="{% url "add_document" %}">Dodaj dokument</a></div>
                <div><a href="{% url "manage" %}">Zarządzaj</a></div>
            </div>
        </div>

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="vertical-center">
                        <div class="messages {{ message.tags }}">
                            {{ message }}
                            <div class="close-button" onclick="this.parentElement.style.display='none';">&times;</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
            <div class="push"></div>
        </div>

    </div>
    <div class="footer">
        <div class="footer-content">
            {% if request.user.username %}
                zalogowany użytkownik: <strong>{{ request.user.username }}</strong>
                <a href="{% url "logout" %}" class="link" style="float: right;">wyloguj się</a>
            {% endif %}
        </div>
    </div>
</body>
</html>