{% extends "base.html" %}
{% block content %}

    <h3>{{ document.product.name }}</h3>
    <div class="brick">
        <table>
            <tr>
                <td>Model przepływów pieniężnych: </td>
                <td>{{ document.product.model }}</td>
            </tr>
            <tr>
                <td>Kategoria dokumentu:</td>
                <td>{{ document.category }}</td>
            </tr>
            <tr>
                <td>Ważny od:</td>
                <td>{{ document.validity_start }}</td>
            </tr>
            <tr>
                <td>Utworzony przez:</td>
                <td>{{ document.created_by }}</td>
            </tr>
            <tr>
                <td>Data utworzenia:</td>
                <td>{{ document.created_at }}</td>
            </tr>
            <tr>
                <td>Dokument:</td>
                <td>{{ document.file.name }}</td>
            </tr>
        </table>

        <a href="{% url "download" document.id %}" class="button green-button">Pobierz dokument</a>

        <a href="{% url "delete_document" document.id %}" class="button red-button" style="float: right;">Usuń</a>
        <a href="{% url "edit_document" document.id %}" class="button gray-button" style="float: right;">Edytuj</a>

        <hr>
        <p>Historia zmian</p>
        <table>
            <tr>
                <td>Element</td>
                <td>Przed zmianą</td>
                <td>Po zmianie</td>
                <td>Użytkownik</td>
                <td>Data</td>
            </tr>
            {% for history in history_set %}
                <p>{{ history }}</p>
            {% endfor %}
        </table>


    </div>


{% endblock %}
