{% extends "base.html" %}

{% load static %}
{% block head %}
    <script src="{% static 'js/search_focus.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="search">
        <h2>Znajdź dokument</h2>
        <form action="/search" method="get">
            <input type="text" name="phrase" id="search_field">
            <button type="submit">Szukaj</button>
        </form>
    </div>

    {% if phrase %}
        <h3>Znalezione dokumenty ({{ no_documents }}) dla frazy <i>{{ phrase }}</i></h3>
    {% else %}
        <h3>Ostatnie dokumenty</h3>
    {% endif %}

    {% for document in documents %}
        <div class="brick" style="padding: 0;">
            <div style="font-size: 0.7em; color: #666; width: 100%; padding: 4px 6px; text-align: right;">
                <strong>#{{ document.id }}</strong>
            </div>
            <div style="padding: 6px 24px 12px 24px;">
                <table>
                    <tr>
                        <td style="color: #666;">Produkt:</td>
                        <td>{{ document.product.name }} ({{ document.product.model }})</td>
                    </tr>
                    <tr>
                        <td style="color: #666;">Kategoria dokumentu:</td>
                        <td>{{ document.category.name }}</td>
                    </tr>
                    <tr>
                        <td style="color: #666;">Ważny od:</td>
                        <td>{{ document.validity_start|date:'Y-m-d' }}</td>
                    </tr>
                </table>

                <div class="vertical-center">
                    <a href="{% url "document_detail" document.id %}" class="link">zobacz więcej</a>
                </div>
            </div>
        </div>
    {% empty %}
        {% if phrase %}
            <p>Nie znaleziono żadnego dokumentu.</p>
        {% else %}
            <p>Jeszcze nie ma żadnego dokumentu.</p>
        {% endif %}
    {% endfor %}
{% endblock %}