{% extends "base.html" %}
{% block content %}
    <div class="search">
        <h2>Znajdź dokument</h2>
        <form action="/search" method="get">
            <input type="text" name="phrase">
            <button type="submit">Szukaj</button>
        </form>
    </div>

    <h3>Ostatnie dokumenty</h3>
    {% for document in documents %}
        <div class="brick">
            <table>
                <tr>
                    <td>Produkt:</td>
                    <td>{{ document.product.name }} ({{ document.product.model }})</td>
                </tr>
                <tr>
                    <td>Kategoria dokumentu:</td>
                    <td>{{ document.category.name }}</td>
                </tr>
                <tr>
                    <td>Ważny od:</td>
                    <td>{{ document.validity_start|date:'Y-m-d' }}</td>
                </tr>
                <tr>
                    <td>Plik:</td>
                    <td>{{ document.file }}</td>
                </tr>
            </table>
            <div class="vertical-center">
                <a href="{% url "document_detail" document.id %}" class="link">zobacz więcej</a>
            </div>
        </div>
    {% empty %}
        <p>Jeszcze nie ma żadnego dokumentu.</p>
    {% endfor %}
{% endblock %}